#Exercice 1

Below are various data sources. Identify whether each one is an example of structured or unstructured data.

A company’s financial reports stored in an Excel file.
    > Structured data
Photographs uploaded to a social media platform.
    > Unstructured data
A collection of news articles on a website.
    > Unstructured data
Inventory data in a relational database.
    > Structured data
Recorded interviews from a market research study.
    > Unstructured data

#Exercice 2

1. Travel blog posts
How? Use a text analysis tool (like AI or NLP) to pull out useful info like places visited, activities, costs, and emotions.
Why? It helps turn long stories into a neat table with columns like “Destination” and “What they did”.

2. Customer service call recordings
How? Use a speech-to-text tool to turn the audio into written text, then sort info like problem type, how the person felt, and whether it was solved.
Why? Makes it easier to understand patterns and improve service.

3. Handwritten brainstorming notes
How? Scan the notes and use OCR (optical character recognition) to read the handwriting, then organize the ideas by topic or priority.
Why? It turns messy notes into a clear list of ideas.

4. Cooking video tutorial
How? Use speech-to-text to get the spoken steps, and video analysis to spot ingredients and tools.
Why? So you can get a clean recipe with steps, ingredients, and times without watching the whole video again.

In [1]:
#Exercise 3 : Import a file from Kaggle
#Import the train dataset. Use the train.csv file.
#Print the first few rows of the DataFrame.

import pandas as pd

In [2]:
train_df = pd.read_csv('train.csv')

In [3]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# Exercise 4: Importing a CSV File
#Use the Iris Dataset CSV.

#Download the Iris dataset CSV file and place it in the same directory as your Jupyter Notebook.
#Import the CSV file using Pandas.
#Display the first five rows of the dataset.

iris_df = pd.read_csv('Iris_dataset.csv')

In [5]:
iris_df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [7]:
#Exercise 5 : Export a dataframe to excel format and JSON format.
#Create a simple dataframe.
#Export the dataframe to an excel file.
#Export the dataframe to a JSON file.

data = {
    'Nom': ['Clara', 'Karim', 'Bobby'],
    'Âge': [30, 45, 15],
    'Ville': ['Vanves', 'Chatou', 'Marseille']
}

df = pd.DataFrame(data)

In [8]:
df.to_excel('mon_dataframe.xlsx', index=False)

In [9]:
df.to_json('mon_dataframe.json', orient='records', indent=4)

In [10]:
print(df.head())

     Nom  Âge      Ville
0  Clara   30     Vanves
1  Karim   45     Chatou
2  Bobby   15  Marseille

In [11]:
#Exercise 6: Reading JSON Data
#Use a sample JSON dataset

#Import the JSON data from the provided URL.
#Use Pandas to read the JSON data.
#Display the first five entries of the data.

import pandas as pd

In [15]:
json_data = pd.read_json('posts.json')

In [16]:
print(json_data.head(10))

   userId  id                                              title  \
0       1   1  sunt aut facere repellat provident occaecati e...
1       1   2                                       qui est esse
2       1   3  ea molestias quasi exercitationem repellat qui...
3       1   4                               eum et est occaecati
4       1   5                                 nesciunt quas odio
5       1   6                 dolorem eum magni eos aperiam quia
6       1   7                               magnam facilis autem
7       1   8                           dolorem dolore est ipsam
8       1   9  nesciunt iure omnis dolorem tempora et accusan...
9       1  10                        optio molestias id quia eum

                                                body
0  quia et suscipit\nsuscipit recusandae consequu...
1  est rerum tempore vitae\nsequi sint nihil repr...
2  et iusto sed quo iure\nvoluptatem occaecati om...
3  ullam et saepe reiciendis voluptatem adipisci\...
4  repudiandae veniam quaerat sunt sed\nalias aut...
5  ut aspernatur corporis harum nihil quis provid...
6  dolore placeat quibusdam ea quo vitae\nmagni q...
7  dignissimos aperiam dolorem qui eum\nfacilis q...
8  consectetur animi nesciunt iure dolore\nenim q...
9  quo et expedita modi cum officia vel magni\ndo...