In [2]:
pip install kaggle
import kaggle

from google.colab import files
files.upload()

mkdir -p ~/.kaggle
cp kaggle.json ~/.kaggle/
chmod 600 ~/.kaggle/kaggle.json

kaggle competitions download -c titanic

unzip titanic.zip

SyntaxError: invalid syntax (2413273212.py, line 1)

In [ ]:
import pandas as pd

# Load the Titanic dataset
titanic_data = pd.read_csv('train.csv')

# Explore the dataset
print(titanic_data.head())
print(titanic_data.info())

In [4]:
import pandas as pd

In [ ]:
#Load the Short-term Daily Precipitation Forecasting dataset.

weather_df = pd.read_csv('weatherHistory.csv')

In [17]:
#Explore the dataset and understand its structure.

weather_df.head()
#weather_df.info()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,Temperature_normalized
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.,0.506975
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.,0.505085
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.,0.505445
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.,0.487805
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.,0.495365

In [35]:
pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in /Users/leamariani/Library/Python/3.9/lib/python/site-packages (1.6.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/leamariani/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: joblib>=1.2.0 in /Users/leamariani/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in /Users/leamariani/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /Users/leamariani/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.13.1)
WARNING: You are using pip version 21.2.4; however, version 25.1.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [10]:
from sklearn.preprocessing import MinMaxScaler

In [19]:
#Perform Min-Max normalization on the precipitation values.

scaler = MinMaxScaler()
weather_df['Temperature_normalized'] = scaler.fit_transform(weather_df[['Temperature (C)']])

weather_df.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,Temperature_normalized
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.,0.506975
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.,0.505085
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.,0.505445
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.,0.487805
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.,0.495365

In [20]:
#Create a new column, e.g., Temperature_normalized to store the normalized values.

In [22]:
#Apply Principal Component Analysis (PCA) to reduce the dimensionality of the dataset.
from sklearn.decomposition import PCA

In [ ]:
#This line creates an instance of the PCA class with the parameter n_components set to 2. It specifies that we want to reduce the dimensionality of the data to 2 principal components. In other words, the data will be projected into a 2D space.
pca = PCA(n_components=2)

In [41]:
# Sélectionner uniquement les colonnes numériques
numeric_cols = weather_df.select_dtypes(include=['number']).columns

In [45]:
reduced_data = pca.fit_transform(weather_df[numeric_cols])

/Users/leamariani/Library/Python/3.9/lib/python/site-packages/sklearn/decomposition/_base.py:148: RuntimeWarning: divide by zero encountered in matmul
  X_transformed = X @ self.components_.T
/Users/leamariani/Library/Python/3.9/lib/python/site-packages/sklearn/decomposition/_base.py:148: RuntimeWarning: overflow encountered in matmul
  X_transformed = X @ self.components_.T
/Users/leamariani/Library/Python/3.9/lib/python/site-packages/sklearn/decomposition/_base.py:148: RuntimeWarning: invalid value encountered in matmul
  X_transformed = X @ self.components_.T

In [48]:
reduced_data.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [50]:
import matplotlib.pyplot as plt

In [52]:
# Visualiser les résultats avec un graphique de dispersion
plt.figure(figsize=(10, 6))
plt.scatter(reduced_data['PC1'], reduced_df['PC2'], alpha=0.5)
plt.title('PCA - Projection des données sur les deux premières composantes principales')
plt.xlabel('PC1')
plt.ylabel('PC2')
plt.grid(True)
plt.show()

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [31]:
#Reduce the dataset to a 2D representation using PCA.

In [37]:
#Group the data by location and calculate the average precipitation for each location.

locations = weather_df.groupby(pd.Grouper(freq='M')).sum()

/var/folders/wz/7t3z91_d40z_sxhmmsv87j100000gn/T/ipykernel_9754/1624175355.py:3: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  locations = weather_df.groupby(pd.Grouper(freq='M')).sum()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'