In [ ]:
x=2
print(x)

:

In [1]:
x=2
print(x)

2

In [2]:
x=2
print(x)

2

In [3]:
print("Hello, world!")
print(42)
print(3.14)

Hello, world!
42
3.14

In [6]:
age = 25
#print(age)
print(25)

25

In [7]:
age

25

In [8]:
name, age = 'John', 25 #mettre des guillemets si on veut utiliser un mot
print(name)
print(age)

John
25

In [9]:
name, age = 'Bob', 25
print(name)
print(age)

Bob
25

In [1]:
# Taking user input and storing it in the variable user_name
user_name = input("Enter your name: ")

# Displaying the input
print(user_name)

bob

In [2]:
# Taking user input and storing it in the variable user_name
user_name = input("Enter your age: ")

# Displaying the input
print(user_name)

20

In [3]:
# Taking user input and storing it in the variable user_name
user_name = input("Enter your age: ")

# Displaying the input
print(user_age)

NameError: name 'user_age' is not defined

In [4]:
# Taking user input and storing it in the variable user_name
user_age= input("Enter your age: ")

# Displaying the input
print(user_age)

20

In [5]:
# Exercise 1.1: Calculate the sum of 10 and 3
result_1 = 10 + 3
print(result_1)  # Output: 13

13

In [7]:
# Exercise 1.2: Subtract 7 from 15
result_2 = 15-7
result_2

8

In [8]:
# Exercise 1.3: Multiply 4 by 8
result_3 = 4*8
result_3

32

In [11]:
# Exercise 1.4: Divide 18 by 3
result_4 =18/3
result_4

6.0

In [14]:
# Exercise 1.5: Floor division to find how many whole times 11 can be divided by 4
result_5 = 11//4
result_5

2

In [16]:
# Exercise 1.6: Find the remainder when 9 is divided by 4 (modulus operator)
result_6 = 9%4
result_6

1

In [20]:
x = 10
z = 30
result_1 = x+z
result_1

40

In [21]:
# converting the integer to a string
result = str(x) + y
print(result) # Output: '3 cats'

NameError: name 'y' is not defined

In [26]:
x = 3
y = "5"
result = x + int(y)
print(result)

# converting the integer to a string
result = str(x) + y
print(result) # Output: '3 cats'

8
35

In [27]:
#this is a list of strings
users = ['Anna','John', 'Mike', 'Sarah']

#this is a list of integers
users_id = [145, 234, 677, 444]

#this is a list() built-in function
user_name = 'John Doe'
user_name_list = list(user_name)

#check what happens to the string:
print(user_name_list)

['J', 'o', 'h', 'n', ' ', 'D', 'o', 'e']

In [28]:
# This is a tuple of integers
coordinates = (4, 2, 1)

# This is a tuple of strings
users = ('Anna', 'John', 'Mike')

# Trying to change a tuple value will raise an error
coordinates[0] = 10  # This causes an error

print(coordinates)
print(users)

TypeError: 'tuple' object does not support item assignment

In [29]:
# This is a set of unique integers
user_ids = {101, 102, 103, 101}  # Duplicate '101' is ignored
print(user_ids)   # Output: {101, 102, 103}

# This is a set of strings
user_names = {"Anna", "John", "Mike", "Sarah"}

# Adding new elements to a set
user_names.add("David")

print(user_names) # Output: unordered set of names, no duplicates

# Sets do not allow indexing, so you cannot do something like:
user_names[0] # this will cause an error

{101, 102, 103}
{'Anna', 'John', 'Sarah', 'Mike', 'David'}

TypeError: 'set' object is not subscriptable

In [30]:
# This is a dictionary with integer keys and string values
user_ages = {1: 'Anna', 2: 'John', 3: 'Mike'}

# This is a dictionary with string keys and mixed values
user_info = {
    "name": "John Doe",
    "age": 45,
    "is_active": True
}

# Accessing values using keys
print(user_info["name"])  # Output: John Doe
print(user_ages[1])       # Output: Anna

John Doe
Anna

In [ ]:
# This is a dictionary with integer keys and string values
user_ages = {1: 'Bob', 2: 'Kim', 3: 'Niels'}

In [36]:

# This is a dictionary with string keys and mixed values
user_info1 = {
    "name": "bob",
    "age": 45,
    "is_active": True
}
user_info2 = {
    "name": "Kim",
    "age": 25,
    "is_active": True
}
user_info3 = {
    "name": "Niels",
    "age": 30,
    "is_active": True
}

print(user_info1["name"]) 
print(user_info1["age"])  
print(user_info1["is_active"]) 

print(user_info2["name"]) 
print(user_info2["age"])  
print(user_info2["is_active"]) 

print(user_info3["name"]) 
print(user_info3["age"])  
print(user_info3["is_active"])

bob
45
True
Kim
25
True
Niels
30
True

In [37]:
# Check if both conditions are True using 'and'
print(10 > 5 and 20 < 30)  # Output: True

True

In [38]:
# Equality check
a = 5
b = 5
print(a == b)  # Output: True
print(a == 5)  # Output: True

# Not equal check
print(a != 3)  # Output: True

True
True
True

In [51]:
# Example:
age = 16

if age >= 18:
    print("You are an adult.")
elif age >= 13:
    print("You are a teenager.")
elif age >= 8:
    print("You are a child.")
else
    print("you are a toddler.")

SyntaxError: invalid syntax (1266047417.py, line 10)

In [52]:
# This will print the numbers from 0 to 2 (3 is not included)
for i in range(3):
    print(i)

0
1
2