BootCamp : D1_W1

Author : Clara Martinez

Variable

In [4]:
x=2
print(x)

2

In [9]:
age = 25
age

25

In [15]:
mot = 'mot'
mot

'mot'

In [16]:
name, age = 'John', 25
print(name)
print(age)

John
25

In [24]:
# Taking user input and storing it in the variable user_name
user_age = input("age: ")

# Displaying the input
user_age

'25'

Data types

In [26]:
# Exercise 1.1: Calculate the sum of 10 and 3
result_1 = 10 + 3
print(result_1)  # Output: 13

# Exercise 1.2: Subtract 7 from 15
result_2 = 15 - 7
print(result_2)  # Output: 8

# Exercise 1.3: Multiply 4 by 8
result_3 = 4 * 8
print(result_3)  # Output: 32

# Exercise 1.4: Divide 18 by 3
result_4 = 18 / 3
print(result_4)  # Output: 6.0

# Exercise 1.5: Floor division to find how many whole times 11 can be divided by 4
result_5 = 11 // 4
print(result_5)  # Output: 2

# Exercise 1.6: Find the remainder when 9 is divided by 4 (modulus operator)
result_6 = 9 % 4
print(result_6)  # Output: 1

# Exercise 1.7: Raise 6 to the power of 3
result_7 = 6 ** 3
print(result_7)  # Output: 216

# Exercise 1.8: Use the negation operator to make 12 negative
result_8 = -12
print(result_8)  # Output: -12

13
8
32
6.0
2
1
216
-12

In [ ]:
x = 3
y = "cats"
result = x + y
result

'3cats'

In [35]:
# converting the integer to a string
result = str(x) + y
print(result) # Output: '3 cats'

3 cats

In [44]:
my_string = "Python"

In [46]:
my_string[3]

'h'

In [54]:
my_string[0:4]

'Pyth'

In [53]:
my_string[0:3]

'Pyt'

In [49]:
my_string[1:]

'ython'

In [50]:
new_string = "J" + my_string[1:]
new_string

'Jython'

In [52]:
name = "Juliana"
age = 31
greeting = f"My name is {name} and I am {age} years old."
print(greeting)

My name is Juliana and I am 31 years old.

In [ ]:
# This is a dictionary with integer keys and string values
user_names = {1: 'Anna', 2: 'John', 3: 'Mike'}

In [ ]:
print(user_ages[1])  
print(user_ages[2])  
print(user_ages[3])

Anna
John
Mike

In [58]:
# This is a dictionary with string keys and mixed values
user_info = {
    "name": "John Doe",
    "age": 45,
    "is_active": True
}

In [69]:
# Example:
age = 18

if age <= 18:
    print("You are an adult.")

You are an adult.

In [71]:
age = 16

if age >= 18:
    print("You are an adult.")
elif age >= 13:
    print("You are a teenager.")
elif age >= 3:
    print("You are a child.")
else:
    print("You are a toddler or an infant.")

You are a teenager.

In [ ]:
# Example 1: Comparing two lists (mutable objects)
a = [1, 2, 3]
b = [1, 2, 3]

# Using == to check if they have the same value
print(a == b)  # Output: True (because the contents are the same)

True

In [83]:
# Using is to check if they are the same object in memory
print(a is b)  # Output: False (because they are different objects in memory)

True

in range(start, stop, step)

In [86]:
for i in range(3):
    print(i)

0
1
2

In [84]:
for i in range(2, 5):
    print(i)

2
3
4

In [85]:
for i in range(2, 5):
    print(i)

#Output:
#2
#3
#4

2
3
4

In [87]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [88]:
for i in range(10, 0, -2):
    print(i)

10
8
6
4
2

In [89]:
prime_numbers = [2, 3, 5, 7, 11, 15]

for num in prime_numbers:
    print(num**2)  # Printing the square of each number

4
9
25
49
121
225

# Combine the number 4 with the string "real" to produce "4real".
combined = str(4) + "real"

In [11]:
list_type = type([])

list_type
print(list_type)

<class 'list'>

Exercices

In [1]:
# Declare a variable called first and assign it to the value "Hello World".
first = "Hello World"

# Write a comment that says "This is a comment."
# This is a comment.

# Log a message to the terminal that says "I AM A COMPUTER!"
print("I AM A COMPUTER!")

# Write an if statement that checks if 1 is less than 2 and if 4 is greater than 2. If it is, show the message "Math is fun."
if 1 < 2 and 4 > 2:
    print("Math is fun.")

# Assign a variable called nope to an absence of value.
nope = None

# Use the language’s “and” boolean operator to combine the language’s “true” value with its “false” value.
result = True and False

# Calculate the length of the string "What's my length?"
length = len("What's my length?")

# Convert the string "i am shouting" to uppercase.
shouting = "i am shouting".upper()

# Convert the string "1000" to the number 1000.
number = int("1000")

# Combine the number 4 with the string "real" to produce "4real".
combined = str(4) + "real"

# Record the output of the expression 3 * "cool".
output = 3 * "cool"  # "coolcoolcool"

# Record the output of the expression 1 / 0.
# This will cause an error: ZeroDivisionError: division by zero

# Determine the type of [].
list_type = type([])  # <class 'list'>

# Ask the user for their name, and store it in a variable called name.
name = input("What is your name? ")

# Ask the user for a number. If the number is negative, show a message that says "That number is less than 0!" If the number is positive, show a message that says "That number is greater than 0!" Otherwise, show a message that says "You picked 0!".
number = float(input("Enter a number: "))
if number < 0:
    print("That number is less than 0!")
elif number > 0:
    print("That number is greater than 0!")
else:
    print("You picked 0!")

# Find the index of "l" in "apple".
index_of_l = "apple".index("l")

# Check whether "y" is in "xylophone".
y_in_xylophone = "y" in "xylophone"

# Check whether a string called my_string is all in lowercase.
my_string = "example"  # Assign a value to my_string for checking
is_lowercase = my_string.islower()

I AM A COMPUTER!
Math is fun.
That number is greater than 0!

In [ ]:
# Définir une fonction pour calculer les âges des chats et des chiens en fonction des années humaines
def calculate_years(human_years):
    # Si l'animal a 1 an humain
    if human_years == 1:
        cat_years = 15  # Première année compte pour 15 années de chat
        dog_years = 15  # Première année compte pour 15 années de chien

    # Si l'animal a 2 ans humains
    elif human_years == 2:
        cat_years = 15 + 9  # Première année + deuxième année = 15 + 9 années de chat
        dog_years = 15 + 9  # Première année + deuxième année = 15 + 9 années de chien

    # Si l'animal a plus de 2 ans humains
    else:
        # Première année + deuxième année + autres années (4 par année pour le chat)
        cat_years = 15 + 9 + (human_years - 2) * 4
        # Première année + deuxième année + autres années (5 par année pour le chien)
        dog_years = 15 + 9 + (human_years - 2) * 5

    # Retourner les âges en format [années humaines, années de chat, années de chien]
    return [human_years, cat_years, dog_years]

# Tester le programme avec les valeurs données
test_values = [10, 1, 2]
for years in test_values:
    result = calculate_years(years)
    print(f"human_years = {years} -> output: {result}")

In [13]:
#We retrieve the number of years in human time"
humanYears = int(input("Enter the number of human years: "))
#We calculate equivalents for catYears and dogYears for first Year
if humanYears == 1:
    catYears = 15
    dogYears = 15
#We calculate equivalents for catYears and dogYears for second Year
elif humanYears == 2:
    catYears = 15 + 9
    dogYears = 15 + 9
#We calculate equivalents for catYears and dogYears for years past second Year
else:
    catYears = 15 + 9 + (humanYears - 2) * 4
    dogYears = 15 + 9 + (humanYears - 2) * 5
print([humanYears, catYears, dogYears])

[6, 40, 44]