### BootCamp : D2_W1

###### Author : Clara Martinez

**Strings**

In [7]:
ex = "this Is nIce"
maj = ex.upper() 

print(ex)
print(maj)

this Is nIce
THIS IS NICE

In [8]:
ex.lower()

'this is nice'

In [9]:
ex.capitalize()

'This is nice'

In [10]:
ex.title()

'This Is Nice'

In [ ]:
instructor = 'Juliana'
instructor.find('a') # it IS case sensitive so it returns -1 which means there is no such letter

4

In [14]:
instructor = 'Juliana'
indices = []

# Parcourir la chaÃ®ne par index
for index, char in enumerate(instructor):
    if char == 'a':
        indices.append(index)

print(indices)  # Cela affichera [4, 6]

[4, 6]

In [ ]:
instructor.find('J')

0

In [6]:
# Example: Joining a list of words with a space
words = ['Python', 'is', 'great']
sentence = ' '.join(words)  
print(sentence)
# 'Python is great'

# Example: Joining a list of numbers with a comma
numbers = ['1', '2', '3', '4']
number_string = ', '.join(numbers)  
print(number_string)
# '1, 2, 3, 4'

Python is great
1, 2, 3, 4

Exercice 1

In [7]:
text = "Python is Fun!"

In [8]:
# 1. Convert the entire string to uppercase
upper_text = text.upper()
print("Uppercase:", upper_text)

Uppercase: PYTHON IS FUN!

In [9]:
# 2. Make the first letter upper case (capitalize the sentence)
capitalized_text = text.capitalize()
print("Capitalized:", capitalized_text)

Capitalized: Python is fun!

In [10]:
# 3. Make the first letter of each word upper case (title case)
title_text = text.title()
print("Title Case:", title_text)

Title Case: Python Is Fun!

In [11]:
# 4. Find the index of "F". What happens if you use lower case in the method?
index_of_F = text.find("F")
print("Index of 'F':", index_of_F)

Index of 'F': 10

In [12]:
# If you use lower case 'f', it returns -1 because find() is case-sensitive:
index_of_f = text.find("f")
print("Index of 'f':", index_of_f)

Index of 'f': -1

In [13]:
# 5. Find a substring ("is" in this case)
index_of_is = text.find("is")
print("Index of 'is':", index_of_is)

Index of 'is': 7

In [15]:
serial_num = 'B456 523'
print(serial_num .isalpha()) # False
print(serial_num [0].isalpha()) # True

False
True

In [16]:
serial_num = "1234 5678"
print(serial_num.isspace())  # False
print(serial_num[0].isspace())  # False
print(serial_num[4].isspace())  # True

False
False
True

**Lists**

In [17]:
my_list = ["a", 1, True]
print(my_list[0])

a

Exercice 1

**1er element = Index 0**

In [18]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

In [ ]:
# 1. Print the first element from the list.
print(fruits[0])  # Output: "apple"

# 2. Print the third element from the list.
print(fruits[2])  # Output: "cherry"

# 3. Try accessing an element at an index that doesn't exist.
# This will raise an IndexError.
# print(fruits[5])  # Uncomment to see the error: IndexError: list index out of range

# 4. Change the second fruit ("banana") to "blueberry".
fruits[1] = "blueberry"
print(fruits)  # Output: ["apple", "blueberry", "cherry", "date", "elderberry"]

In [29]:
numbers = [1, 2, 3]

In [ ]:
numbers.append(10)

[1, 2, 3, 10]

In [32]:
numbers.clear()
print(numbers)

[]

In [33]:
numbers.copy()
print(numbers)

[]

Exercice 2

In [34]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

In [35]:
# 1. Add "fig" to the end of the fruits
fruits.append("fig")
print(fruits)

['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig']

In [36]:
# 2. Insert "grape" at the beginning of the list
fruits.insert(0, "grape")
print(fruits)

['grape', 'apple', 'banana', 'cherry', 'date', 'elderberry', 'fig']

In [37]:
# 3. Remove "cherry" from the list using the specific method for it
fruits.remove("cherry")
print(fruits)

['grape', 'apple', 'banana', 'date', 'elderberry', 'fig']

In [38]:
# 4. Remove the last element from the list using the specific method for it
last_fruit = fruits.pop()
print(last_fruit)
print(fruits)

fig
['grape', 'apple', 'banana', 'date', 'elderberry']

In [39]:
# 5. Create another list of berries and combine it with the fruits list into a list called "combined_list"
berries = ["strawberry", "raspberry", "blueberry"]
combined_list = fruits + berries
print(combined_list)

['grape', 'apple', 'banana', 'date', 'elderberry', 'strawberry', 'raspberry', 'blueberry']

In [40]:
# 6. Sort the combined_list
combined_list.sort()
print(combined_list)

['apple', 'banana', 'blueberry', 'date', 'elderberry', 'grape', 'raspberry', 'strawberry']

In [41]:
# 7. Slice the last three elements of the combined list
last_three = combined_list[-3:]
print(last_three)

['grape', 'raspberry', 'strawberry']

In [44]:
last_three = combined_list[-1:-4:-1]
print(last_three)

['strawberry', 'raspberry', 'grape']

In [ ]:
fruits = ["apple", "banana", "cherry", "date"]

In [49]:
s = {1, 2, 3}
s.add(5)
print(s)  # Output: {1, 2, 3, 4}

{1, 2, 3, 5}

Exercise 1 : Lists

In [66]:
#1 Given a list [1, 2, 3, 4], output all values one by one.
list1 = [1, 2, 3, 4]

# Display each value one by one
for value in list1:
    display(value)

1

2

3

4

In [67]:
#2 Given a list [1, 2, 3, 4], output all values multiplied by 20.
list2 = [x * 20 for x in [1, 2, 3, 4]]

# Output each value one by one
for value in list2:
    display(value)

20

40

60

80

In [52]:
#3 Given a list ["Elie", "Tim", "Matt"], return a new list with only the first letter of each name.
list3 = [name[0] for name in ["Elie", "Tim", "Matt"]]
list3

['E', 'T', 'M']

In [70]:
list = ["Elie", "Tim", "Matt"]
list3 = [name[0] for name in list]
list3

['E', 'T', 'M']

In [ ]:
list = ["Elie", "Tim", "Matt"]
list3 = []

for name in list:
    list3.append(name[0])

list3

['E', 'T', 'M']

In [53]:
#4 Given a list [1, 2, 3, 4, 5, 6], return a new list with all the even values.
list4 = [x for x in [1, 2, 3, 4, 5, 6] if x % 2 == 0]
list4

[2, 4, 6]

In [73]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = []

for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)

even_numbers

[2, 4, 6]

In [54]:
#5 Given two lists [1, 2, 3, 4] and [3, 4, 5, 6], return a new list that contains only the values present in both lists.
list5 = [x for x in [1, 2, 3, 4] if x in [3, 4, 5, 6]]
list5

[3, 4]

In [74]:
l1 =  [1, 2, 3, 4]
l2 = [3, 4, 5, 6]
l3 = []
for x in l1: 
    if x in l2:
        l3.append(x)
l3

[3, 4]

In [96]:
firstList = [1, 2, 3, 4]
secondList = [3, 4, 5, 6]
common = list(set(firstList).intersection(set(secondList)))
print(common)

TypeError: 'list' object is not callable

In [99]:
firstList = [1, 2, 3, 4]
secondList = [3, 4, 5, 6]

common = list(set(firstList).intersection(set(secondList)))
print(common)

TypeError: 'list' object is not callable

In [55]:
#6 Given a list of words ["Elie", "Tim", "Matt"], return a new list with each word reversed and in lowercase.
list6 = [word[::-1].lower() for word in ["Elie", "Tim", "Matt"]]
list6

['eile', 'mit', 'ttam']

In [75]:
words = ["Elie", "Tim", "Matt"]
reversed_lowercase_words = []

# Step 1 and 2: Reverse each word and convert to lowercase
for word in words:
    reversed_word = ''.join(reversed(word))  # Reverse using reversed()
    lower_word = reversed_word.lower()       # Convert to lowercase
    reversed_lowercase_words.append(lower_word)

reversed_lowercase_words  # This will output: ['eile', 'mit', 'ttam']

['eile', 'mit', 'ttam']

In [79]:
lowercase = ["eile", "mit", "ttam"]
names = ["Elie", "Tim", "Matt"]
lowered_reversed_names = [name.lower() [::-1] for name in names]
print(lowered_reversed_names)

['eile', 'mit', 'ttam']

In [ ]:
Name = ["Elie", "Tim", "Matt"]
Name2 = []
for word in Name:
    # Convert to lowercase and reverse the word
    lower_word = word.lower()  # it1 : lower_world = "elie"
    reversed_word = lower_word[::-1] # it1 : reversed_word = "eile"
    Name2.append(reversed_word)
Name2  # This will output: ['eile', 'mit', 'ttam']

['eile', 'mit', 'ttam']

In [56]:
#7 Given two strings "first" and "third", return a new list of the letters that are present in both strings.
list7 = [letter for letter in set("first") if letter in "third"]
list7

['t', 'i', 'r']

In [81]:
str1 = "first"
str2 = "third"
common_letters = []
for letter in str1:
    if letter in str2 and letter not in common_letters:
        common_letters.append(letter)
print(common_letters)

['i', 'r', 't']

In [57]:
#8 For all numbers between 1 and 100, return a list of the numbers that are divisible by 12.
list8 = [x for x in range(1, 101) if x % 12 == 0]
list8

[12, 24, 36, 48, 60, 72, 84, 96]

In [ ]:
lis8 = []
for i in range(1, 100) :
    if i % 12 == 0 :
        lis8.append(i)
print(lis8)

[12, 24, 36, 48, 60, 72, 84, 96]

In [ ]:
#For all numbers between 1 and 100, return a list of the numbers that are divisible by 12: [12, 24, 36, 48, 60, 72, 84, 96]
count = 1
multiples_of_12 = []
while count <= 100:
    if count % 12 == 0:
        multiples_of_12.append(count)
    count += 1  #important
print(multiples_of_12)

[12, 24, 36, 48, 60, 72, 84, 96]

In [58]:
#9 Given the string "amazing", return a list with all the vowels removed.
list9 = [char for char in "amazing" if char not in "aeiou"]
list9

['m', 'z', 'n', 'g']

In [ ]:
list ="amazing"
list = [i for i in list if i not in "aeoui"]
list

['m', 'z', 'n', 'g']

In [ ]:
#10 Generate a list with the following value: [[0, 1, 2], [0, 1, 2], [0, 1, 2]] #question pas claire
list10 = [[0, 1, 2] for _ in range(3)]
list10

flat_list = [item for sublist in list10 for item in sublist]
flat_list

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [94]:
result = [[0, 1, 2] for _ in range(3)]
print(result)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [60]:
#11 Generate a list with the following structure:
# [
#   [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
#   ... (10 times total)
# ]
list11 = [[x for x in range(10)] for _ in range(10)]
list11

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [ ]:
#fonction list
for _ in range(10):
    result.append(list(range(10)))

Exercice 2 : Dict

In [61]:
# 1. Create a dictionary from a list of tuples
list_of_tuples = [("name", "Elie"), ("job", "Instructor")]
dict1 = dict(list_of_tuples)
dict1

{'name': 'Elie', 'job': 'Instructor'}

In [62]:
# 2. Create a dictionary from two lists
abbreviations = ["CA", "NJ", "RI"]
states = ["California", "New Jersey", "Rhode Island"]
dict2 = {abbreviations[i]: states[i] for i in range(len(abbreviations))}
dict2

{'CA': 'California', 'NJ': 'New Jersey', 'RI': 'Rhode Island'}

In [100]:
keys = ["CA", "NJ", "RI"]
values = ["California", "New Jersey", "Rhode Island"]
result = {}
for i in range(len(keys)):
    result[keys[i]] = values[i]
print(result)

{'CA': 'California', 'NJ': 'New Jersey', 'RI': 'Rhode Island'}

In [102]:
len(keys)

3

In [ ]:
listAcronyme = ["CA", "NJ", "RI"]
listStatename = ["California", "New Jersey", "Rhode Island"]
dictAcroState = dict(zip(listAcronyme, listStatename)) # dict(zip(key, value))
print(dictAcroState)

In [63]:
# 3. Create a dictionary with vowels as keys and 0 as values
vowels = 'aeiou'
dict3 = {vowel: 0 for vowel in vowels}
dict3

{'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0}

In [64]:
# 4. Create a dictionary with positions in the alphabet as keys
import string
alphabet = string.ascii_uppercase
dict4 = {i + 1: letter for i, letter in enumerate(alphabet)}
dict4

{1: 'A',
 2: 'B',
 3: 'C',
 4: 'D',
 5: 'E',
 6: 'F',
 7: 'G',
 8: 'H',
 9: 'I',
 10: 'J',
 11: 'K',
 12: 'L',
 13: 'M',
 14: 'N',
 15: 'O',
 16: 'P',
 17: 'Q',
 18: 'R',
 19: 'S',
 20: 'T',
 21: 'U',
 22: 'V',
 23: 'W',
 24: 'X',
 25: 'Y',
 26: 'Z'}

In [103]:
#Create a dictionary where the key is the position of the letter in the alphabet, and the value is the letter itself. You should return something like this:
letter_position = 1
position_vs_letter = {}
while letter_position <= 26 :
    position_vs_letter[letter_position] = chr(letter_position+64)
    letter_position +=1
print(position_vs_letter)

{1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E', 6: 'F', 7: 'G', 8: 'H', 9: 'I', 10: 'J', 11: 'K', 12: 'L', 13: 'M', 14: 'N', 15: 'O', 16: 'P', 17: 'Q', 18: 'R', 19: 'S', 20: 'T', 21: 'U', 22: 'V', 23: 'W', 24: 'X', 25: 'Y', 26: 'Z'}

In [65]:
# Super Bonus: Count vowels in a given string
string_to_check = "awesome sauce"
vowel_count = {vowel: string_to_check.count(vowel) for vowel in 'aeiou'}
vowel_count

{'a': 2, 'e': 3, 'i': 0, 'o': 1, 'u': 1}